In [1]:
import pandas as pd

## Combining two datasets with concat

In [2]:
# Create Orders DataFrame

portions_data1 = {'order_id': [2, 1, 3], 'item_name': ['Burger', 'Pizza', 'Salad'], 'quantity': [2, 1, 3]}

orders_df = pd.DataFrame(portions_data1)

In [3]:
# Create Portions DataFrame

portions_data2 = {'order_id': [4, 6, 5], 'item_name': ['Soup', 'Burger', 'Wok'], 'quantity': [1, 3, 4]}

portions_df = pd.DataFrame(portions_data2)

In [4]:
combined_data = pd.concat([orders_df,portions_df]).sort_values(by='order_id');combined_data

   order_id item_name  quantity
1         1     Pizza         1
0         2    Burger         2
2         3     Salad         3
0         4      Soup         1
2         5       Wok         4
1         6    Burger         3

## Combining two datasets with merge

In [5]:
# Create Orders DataFrame

orders_data = {'order_id': [1, 2, 3], 'customer_name': ['Alice', 'Bob', 'Charlie'], 'total_amount': [25.5, 30.2, 15.75]}

orders_df = pd.DataFrame(orders_data)

In [6]:
# Create Portions DataFrame

portions_data = {'order_id': [2, 1, 3], 'item_name': ['Burger', 'Pizza', 'Salad'], 'quantity': [2, 1, 3]}

portions_df = pd.DataFrame(portions_data)

In [7]:
merged_data = orders_df.merge(portions_df);merged_data

   order_id customer_name  total_amount item_name  quantity
0         1         Alice         25.50     Pizza         1
1         2           Bob         30.20    Burger         2
2         3       Charlie         15.75     Salad         3